<div
  id="gallery-modal"
  class="fixed inset-0 bg-black/80 z-50 items-center justify-center hidden"
>
  <div class="relative max-w-4xl w-full mx-4">
    <button
      id="close-modal"
      class="cursor-pointer absolute top-8 right-12 text-white text-3xl hover:text-pink-300 transition-colors duration-300"
    >
      <i class="fas fa-times"></i>
    </button>
    <div class="p-2 rounded-lg shadow-2xl">
      <img
        id="modal-image"
        src="./img/gallery/gallery-1.webp"
        alt="Imagen ampliada"
        class="w-full h-auto rounded"
      />
    </div>
    <div class="text-center mt-4">
      <span id="modal-caption" class="text-white text-xl font-bold"></span>
    </div>
  </div>
</div>
