<section id="gallery" class="py-20 px-6 relative">
  <div class="container mx-auto relative z-10">
    <div class="text-center mb-16">
      <h2
        class="text-3xl md:text-5xl font-bold mb-6 text-transparent bg-clip-text bg-gradient-to-r from-purple-300 to-pink-300"
      >
        Galería
      </h2>
      <div
        class="w-20 h-1 bg-gradient-to-r from-purple-500 to-pink-500 mx-auto"
      ></div>
      <p class="text-xl mt-6 max-w-2xl mx-auto text-purple-100">
        Echa un vistazo a los mundos mágicos que te esperan en el juego.
      </p>
    </div>
    <div class="gallery-grid">
      <div class="gallery-item">
        <img
          src="./img/gallery/gallery-1.webp"
          alt="Nivel 1"
          class="rounded-lg shadow-lg gallery-image cursor-pointer"
          loading="lazy"
        />
      </div>
      <div class="gallery-item">
        <img
          src="./img/gallery/gallery-2.webp"
          alt="Nivel 2"
          class="rounded-lg shadow-lg gallery-image cursor-pointer"
          loading="lazy"
        />
      </div>
      <div class="gallery-item">
        <img
          src="./img/gallery/gallery-3.webp"
          alt="Nivel 3"
          class="rounded-lg shadow-lg gallery-image cursor-pointer"
          loading="lazy"
        />
      </div>
      <div class="gallery-item">
        <img
          src="./img/gallery/gallery-4.webp"
          alt="Nivel 4"
          class="rounded-lg shadow-lg gallery-image cursor-pointer"
          loading="lazy"
        />
      </div>
      <div class="gallery-item">
        <img
          src="./img/gallery/gallery-5.webp"
          alt="Personajes"
          class="rounded-lg shadow-lg gallery-image cursor-pointer"
          loading="lazy"
        />
      </div>
      <div class="gallery-item">
        <img
          src="./img/gallery/gallery-6.webp"
          alt="Objetos"
          class="rounded-lg shadow-lg gallery-image cursor-pointer"
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <div
    class="absolute top-1/2 right-0 w-72 h-72 bg-indigo-500 rounded-full filter blur-3xl opacity-20 transform translate-x-1/2 -translate-y-1/2"
  ></div>
</section>
