<div
  data-mobile
  class="is-hidden bg-black/70 backdrop-blur-xl bg-opacity-95 fixed top-full left-0 right-0 h-screen z-50 transform -translate-y-full transition-transform duration-300 ease-in-out flex items-center justify-center"
>
  <button
    type="button"
    data-mobile-close
    class="absolute top-9 left-9 text-white"
    aria-label="close mobile menu"
  >
    <i
      class="fas fa-x text-white hover:text-purple-400 transition-colors duration-300"
    ></i>
  </button>
  <ul class="flex flex-col items-center py-4 space-y-4">
    <li>
      <a
        href="/#about"
        class="nav-item hover:text-pink-300 transition-colors duration-300"
        >Sobre el juego</a
      >
    </li>
    <li>
      <a
        href="/#features"
        class="nav-item hover:text-pink-300 transition-colors duration-300"
        >Características</a
      >
    </li>
    <li>
      <a
        href="/#gallery"
        class="nav-item hover:text-pink-300 transition-colors duration-300"
        >Galería</a
      >
    </li>
    <li>
      <a
        href="/#download"
        class="nav-item hover:text-pink-300 transition-colors duration-300"
        >Descargar</a
      >
    </li>
  </ul>
</div>
