<!-- <div
  id="mobile-menu"
  class="is-hidden bg-black bg-opacity-95 fixed top-0 right-0 z-50 h-screen w-3xs"
  data-mobile
>
  <button type="button" data-mobile-close aria-label="close mobile menu">
    X
  </button>
  <ul class="flex flex-col items-center py-4 space-y-4">
    <li>
      <a
        href="#about"
        class="nav-item hover:text-pink-300 transition-colors duration-300"
        >Sobre el juego</a
      >
    </li>
    <li>
      <a
        href="#features"
        class="nav-item hover:text-pink-300 transition-colors duration-300"
        >Características</a
      >
    </li>
    <li>
      <a
        href="#gallery"
        class="nav-item hover:text-pink-300 transition-colors duration-300"
        >Galería</a
      >
    </li>
    <li>
      <a
        href="#download"
        class="nav-item hover:text-pink-300 transition-colors duration-300"
        >Descargar</a
      >
    </li>
  </ul>
</div> -->

<div
  id="mobile-menu"
  class="bg-black/70 backdrop-blur-xl bg-opacity-95 fixed top-full left-0 right-0 h-screen z-50 transform -translate-y-full transition-transform duration-300 ease-in-out flex items-center justify-center"
>
  <ul class="flex flex-col items-center py-4 space-y-4">
    <li>
      <a
        href="#about"
        class="hover:text-pink-300 transition-colors duration-300"
        >Sobre el juego</a
      >
    </li>
    <li>
      <a
        href="#features"
        class="hover:text-pink-300 transition-colors duration-300"
        >Características</a
      >
    </li>
    <li>
      <a
        href="#gallery"
        class="hover:text-pink-300 transition-colors duration-300"
        >Galería</a
      >
    </li>
    <li>
      <a
        href="#download"
        class="hover:text-pink-300 transition-colors duration-300"
        >Descargar</a
      >
    </li>
  </ul>
</div>
